@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary : #9c27b0;
    --secondary : #ea2c6d;
    --primary-2 : #701c7e;
    --secondary-2 : #b8124a;
    --primary-light : #e0aaff;
    --secondary-light : #ffcad4;
    --light-1 : #ced8ff;
    --light-2 : #e7ecff;
    --white : #f0f0f0;
}